@import "variables.less";

.desktop {
    min-height: 100vh;
    .flex-box-cc();
}

.desktop-sizing {
    width: 82%;
}

.tablet-sizing{
    width: 90%;
}
.mobile-sizing {
    width: 95%;
}

/***************/
.flex-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-box-sp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box-cc {
    .flex-box-center();
    flex-direction: column;
}

/************************/
.norm-text {
    font-family: @ff;
    color: @text-black;
    font-size: 1.1rem;
    font-weight: 400;
}
.bold-text{
    .norm-text();
    font-weight: 900;
}
.norm-text-little{
    .norm-text();
    font-size: 1rem;
}
.title{
        font-family: @ff;
        color: @title-black;
        font-size: 6rem;
        line-height: 6rem;
        font-weight: 700;
        text-transform: capitalize;
}
/****************************/
.button{
    .bold-text();
    font-size: 1.2rem;
    padding: 2.5% 8%;
    border-radius: 4rem;
    outline: none;
    border: none;
    transition: .5s linear;
    text-align: center;
    &:hover{
        background-color: @button-bg-black;
        color:@white;
    }
}

.button-green{
    .norm-text();
    font-size: 1.2rem;
    padding: 3% 11%;
    background-color: @button-bg-black;
    color: @white;
    outline: none;
    border: none;
    transition: .5s linear;
    &:hover{
        background-color: @green;
        color:@white;
    }
}
.title-maket {
    margin: 4rem 0 2rem 0; 

    h2 {
        font-family: @ff;
        color: @title-black;
        font-weight: 800;
        font-size: 2.7rem;
        line-height: 3rem;
        text-transform: capitalize;
        text-align: center;
        width: 100%;

        span {
            color: @bold-green;
        }
    }

    p {
        font-family: @ff;
        color: @card-bg-black;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2rem;
    }
}

.title-maket-tab {
    .title-maket();
    h2 {
        font-size: 2rem;
        line-height: 2.5rem;

        span {
            color: @bold-green;
        }
    }

    p {
        font-family: @poppins;
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

.title-maket-mob {
    .title-maket();
    h2 {
        font-size: 1.5rem;
        line-height: 2rem;

        span {
            color: @bold-green;
        }
    }

    p {
        font-family: @poppins;
        font-size: .9rem;
        line-height: 1.5rem;
    }
}


// .gallery-card-imgs{
//     .overlay1{
//         background-image: url("../assets/gallery/gallery1.jpg");
//     }
//     .overlay2{
//         background-image: url("../assets/gallery/gallery2.jpg");
//     }
//     .overlay3{
//         background-image: url("../assets/gallery/gallery3.jpg");
//     }
//     .overlay4{
//         background-image: url("../assets/gallery/gallery4.jpg");
//     }
//     .overlay5{
//         background-image: url("../assets/gallery/gallery5.jpg");
//     }
//     .overlay6{
//         background-image: url("../assets/gallery/gallery6.jpg");
//     }
// }